* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ************************************ESTILOS LAYOUT APP.BLADE.PHP******************************************** */

/* estilos primer nav */
.tituloServicio p {
    font-weight: bold;
    font-size: 1.3rem;
}

/* estilos segundo nav */
.navbar {
    padding: 20px; /* Ajusta el padding según sea necesario */
}

.navbar .fa-shopping-cart {
    color: #000; /* Color negro */
    font-size: 1.2rem; /* Tamaño del icono */
    position: relative; /* Para alinear el número */
}

.navbar .fa-shopping-cart::after {
    content: '3'; /* Número de elementos en el carrito */
    position: absolute;
    top: -8px; /* Ajusta la posición vertical */
    right: -8px; /* Ajusta la posición horizontal */
    background-color: red; /* Color de fondo del número */
    color: white; /* Color del texto del número */
    font-size: 0.8rem; /* Tamaño del texto del número */
    width: 18px; /* Ancho del número */
    height: 18px; /* Alto del número */
    border-radius: 50%; /* Forma del borde del número (círculo) */
    text-align: center; /* Alineación del texto en el número */
    line-height: 18px; /* Altura de línea del número */
}

/* Estilos para el footer */
.footer {
    background-color: #fff; 
    color: #000; 
    padding: 10px 0; 
    width: 100%;
    border-top: 1px solid rgba(128, 128, 128, 0.359);
    position: relative;
}

/* Estilos para los iconos sociales en el footer */
.social-icons a {
    color: #000; /* Color blanco para los iconos */
    font-size: 24px; /* Tamaño de los iconos */
    margin-right: 5px; /* Espaciado entre los iconos */
}

/* Estilos para los enlaces de contacto en el footer */
.contact-info p {
    margin-bottom: 5px; /* Espacio entre los párrafos */
}

/* Estilos para el texto de dirección en el footer */
.contact-info p:last-child {
    margin-top: 5px; /* Espacio arriba del último párrafo */
}

/* ************************************ESTILOS VISTA WELLCOME******************************************** */
.container-inicio h1{
    margin: 20px;
    text-align: center;
}

.animated-title {
    font-family: 'Arial Black', sans-serif;
    background: linear-gradient(to right, #ff6f61, #de4839);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    animation: title-animation 2s infinite alternate;
    margin: 60px;
}

@keyframes title-animation {
    0% { transform: scale(1); }
    100% { transform: scale(1.1); }
}

.slider-container {
    width: 100%;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
    padding: 20px 0;
}

.slider {
    display: flex;
    width: calc(200% + 40px); /* Aumentar el ancho para acomodar los elementos duplicados */
    animation: scroll 40s linear infinite;
}

.slider-item {
    flex: 0 0 auto;
    margin-right: 100px;
    width: 250px;
}

.slider-item img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
}

.slider-caption {
    text-align: center;
    margin-top: 10px;
    max-height: 80px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 10px; /* Añadir padding para darle más espacio al texto */
    box-sizing: border-box; /* Asegurar que el padding se incluya en el tamaño del elemento */
}

.slider-caption h5 {
    font-size: 1.2rem; /* Reducir el tamaño del título */
    font-weight: bold;
    color: #1f3a3b;
    margin: 0;
}

.slider-caption p {
    font-size: 1rem; /* Reducir el tamaño del precio */
    font-weight: bold;
    color: #1f3a3b;
    margin: 5px 0 0 0; /* Asegurar que no haya margen superior para el precio */
}

@keyframes scroll {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(calc(-100% / 2 - 20px));
    }
}


/* *************************ESTILOS DE LA VISTA PRODUCTOS************ */
.card img { 
    width: 100%;
    height: 380px; 
}

/* Estilos para la sección de Categorías Destacadas */

.featured-categories {
    margin-top: 50px; /* Ajusta el margen superior según sea necesario */
}

.featured-categories .animated-title {
    font-family: 'Arial Black', sans-serif;
    background: linear-gradient(to right, #ff6f61, #de4839);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    animation: title-animation 2s infinite alternate;
    margin: 20px auto; /* Centra el título y ajusta el margen */
}

.featured-categories .row {
    display: flex;
    justify-content: center; /* Centra los elementos dentro del contenedor */
    gap: 20px; /* Espacio entre las columnas */
    margin-top: 20px; /* Ajusta el margen superior según sea necesario */
}

.featured-categories .col-md-3 {
    width: 250px; /* Ancho fijo para cada columna */
    text-align: center; /* Centra el contenido */
}

.featured-categories .col-md-3 img {
    width: 100%;
    height: 250px;
    border-radius: 10px;
}

.featured-categories .col-md-3 h3 {
    margin-top: 10px; /* Ajusta el margen superior */
    font-size: 1.2rem; /* Tamaño de fuente del título */
    font-weight: bold;
    color: #1f3a3b; /* Color del texto */
}

/* Animación del título */
@keyframes title-animation {
    0% { transform: scale(1); }
    100% { transform: scale(1.1); }
}

/* testimonios */
.testimonial-item {
    text-align: center;
    margin-bottom: 20px; /* Espacio entre testimonios */
}

.testimonial-item img {
    width: 100px; /* Ancho fijo para la imagen circular */
    height: 100px; /* Altura fija para la imagen circular */
    object-fit: cover; /* Ajustar imagen para cubrir el contenedor */
    border-radius: 50%; /* Hacer la imagen circular */
    margin-bottom: 10px; /* Espacio inferior entre imagen y bloque de cita */
}

.blockquote footer {
    margin-top: 10px; /* Espacio entre el párrafo y el footer */
}

/* *************************Detalle Productos ********************     */
.input-group {
    display: flex;
    max-width: 120px; /* Ajusta el ancho del input según sea necesario */
}

.input-group-sm .btn {
    padding: 0.375rem 0.5rem; /* Ajusta el padding de los botones según sea necesario */
}

.imagen-producto img{
    width: 250px;
    height: 300px;
    border-radius: 20px;
    object-fit: cover;
}



.datos-productos p{
    font-size: 2rem;
    color: #3b6e70;
    font-weight: bold;
}


/* ******************Estilos seccion tienda******************* */

.product-container {
    position: relative;
    text-align: center;
}

.product-image {
    width: 100%;
    height: auto;
}

.offer-label {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: red;
    color: white;
    padding: 5px 10px;
    font-size: 12px;
    font-weight: bold;
    border-radius: 5px;
}

/* **********************************Boton de regresar arriba************** */

.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    z-index: 1000; /* Asegúrate de que el botón se superponga a otros elementos */
}







